/*global*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,300&display=swap);
*{
    margin:0;
}
html{
    font-size: 62.5%;
}
:root{
    --primary:rgb(3, 145, 57);
}
body{
    font-family:'Roboto', sans-serif;
    /*background-color:red; mobile*/
}
/*@media(min-width:768px){
    body{
        background-color: blue;
    }
}*/
p{
    font-size:1.6rem;
    margin:0rem;
    line-height:2;
    background-color:black;
    color: rgb(3, 145, 57);
}
h4{
    font-size:2.5em;
}
h3{
    font-size:2.5rem;
}
img{
    max-width:100%;
}
/*utilities*/
.center{
    text-align:center;
}
.bold-text{
    font-weight:700;
}
/*header*/
.site-header{
    background-color:var(--primary);
    color: black;
    height:40vh;
}
@media(min-width:768px){
    .site-header{
        display:flex;
        justify-content:center;
        align-items:center; 
    }
    .site-header h1{
        font-size:8rem;
        width: 60rem;
    }
}
.site-header h1{
    color: rgb(17, 17, 17);
    font-size:6rem;
    text-align:center;
    text-transform:uppercase;
    word-spacing: 1rem;
    letter-spacing: 1.5rem;
    font-weight:bold;
}
.site-header h2{
    color: rgb(245, 244, 244);
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 1px black;
}
.icon-containers{
    text-align: center;
    margin-top: 3rem;
}
.icon-containers i{
    color:rgb(3, 145, 57);
    font-size: 3rem;
    margin-right: 2rem;
}
.icon-containers i:hover{
    color: white; 
 }
 .menu{
    text-align: center;
    margin-top: 3rem;
}
.menu a{
    font-size: 2rem;
    text-decoration: none;
    color: rgb(245, 244, 244);
    font-weight: 700;
    margin-bottom: 1rem;
}
.menu a:hover{
    color: #000;
}
@media(min-width:768px){
    .menu{
        flex-direction: row;
        justify-content: space-between;
    }
    .menu a{
        font-size: 1.6rem;
        margin-right: .5rem;
    }
}
/*main*/
.img-container{
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.img-container img{
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    padding: .5rem;
}
/*footer*/
.site-footer{
    background-color: rgb(10, 10, 10);
    color: white;
    text-align: center;
}
footer.site-footer .icons-containers a i{
    color: white;
    font-size: 2.5rem;
    padding-bottom:1rem;
}
.flex-wrapper{
    display:flex;
    flex-direction:column;
    height: 100vh;
    justify-content: space-between;
}
/*contact page*/
h3{
    text-align: center;
}
.project-container{
    flex-direction: column;
}
.project-container ul{
    font-size: 2rem;
}
/*Course Page*/
header.second-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:var(--primary);
    height: 20vh;
    padding: 1rem;
}
header.second-header h1{
    font-size: 4rem;
}
@media(min-width:768px){
    header.second-header{
        flex-direction: row;
        height: 5vh;
    }
}
/*Project page*/
h3{
    text-align: center;
}
h4{
    font-size: 3rem;
    padding:0;
    text-align:left;
    height: 5vh;
}
.project-container{
    flex-direction: column;
}
.project-container ul li{
    font-size: 2rem;
}
/*education page*/
h3{
    text-align: center;
}
h4{
    font-size: 2rem;
}
.aside-education{
    display: none;
}
.educational-container{
    display: flex;
    flex-direction: column;
}
.div-education{
    padding: 3rem;
}

@media(min-width:678px){
}
    .aside-education{
        display: block;
        background-color:#e1e1e1;
        padding: 3rem;
    }
    .aside-education ul li{
        list-style: none;
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .educational-container{
        flex-direction: row;
    }
    .div-education{
        width: 50rem;
    }
    .div-education div:nth-child(2){
        margin-left: 40rem;
    }
    .div-education div:nth-child(3){
        margin-left: 100rem;
    }