/*global*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,300&display=swap);
*{
    margin:0;
}
html{
    font-size: 62.5%;
}
:root{
    --primary:rgb(3, 145, 57);
}
body{
    font-family:'Roboto', sans-serif;
    /*background-color:red; mobile*/
}
/*@media(min-width:768px){
    body{
        background-color: blue;
    }
}*/
p{
    font-size:1.6rem;
    margin:0rem;
    line-height:2;
    background-color:rgb(252, 252, 252);
    color: rgb(3, 145, 57);
}
h4{
    font-size:2.5em;
}
h3{
    font-size:2.5rem;
}
img{
    max-width:100%;
}
/*utilities*/
.center{
    text-align:center;
}
.bold-text{
    font-weight:700;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*header*/
.site-header{
    background-color:var(--primary);
    color: black;
    height:50vh;
}
@media(min-width:768px){
    .site-header{
        display:flex;
        justify-content:center;
        align-items:center;
        height: 30vh;
    }
    .site-header h1{
        font-size:8rem;
        width: 60rem;
    }
}
.site-header h1{
    color: rgb(17, 17, 17);
    font-size:6rem;
    text-align:center;
    text-transform:uppercase;
    word-spacing: 1rem;
    letter-spacing: 1.5rem;
    font-weight:bold;
}
.site-header h2{
    color: rgb(10, 10, 10);
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 1px rgb(247, 245, 245);
}
.icon-containers{
    text-align: center;
    margin-top: 3rem;
}
.icon-containers i{
    color:rgb(3, 145, 57);
    font-size: 3rem;
    margin-right: 2rem;
}
.icon-containers i:hover{
    color: white; 
 }
 .menu{
    display: flex;
    flex-direction:row;
    text-align: center;
}
.menu a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-bottom: 1rem;
}
.menu a:hover{
    color: #000;
}
@media(min-width:768px){
    .menu{
        flex-direction: row;
        justify-content: space-between;
    }
    .menu a{
        font-size: 1.6rem;
        margin-right: 2rem;
    }
}
/*main*/
.img-container{
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.img-container img{
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    padding: .5rem;
}
img:hover{
    transform: rotateY(45deg);
    box-shadow: 5px 5px 5px 5px  rgb(7, 7, 7);
}
/*footer*/
.site-footer{
    background-color: rgb(10, 10, 10);
    color: white;
    text-align: center;
}
footer.site-footer .icons-containers a i{
    color: white;
    font-size: 2.5rem;
    padding-bottom:1rem;
}
.flex-wrapper{
    display:flex;
    flex-direction:column;
    height: 100vh;
    justify-content: space-between;
}
/*contact page*/
.input-form{
    display:flex;
    justify-content: flex-end;
    padding: 1rem;
}
.btn-form{
    display:flex;
    justify-content:flex-end;
}
form{
    border:1px solid rgb(0,0,0,0.178);
    border-radius: 5px;
    padding: 1rem;
}
label,input[type=email],input[type=text]{
    font-size: 1.6rem;
}
input[type=text],input[type=email],textarea{
    border: none;
    background-color: #e1e1e1;
    border-radius: 5px;
}
input[type=text],input[type=email],textarea{
    flex-basis: 100%;
}
label{
    flex-basis:15rem;
}
input[type=submit]{
    width: 10rem;
    background-color: var(--primary);
    border: none;
    padding:1rem;
    border-radius: 5px;
    font-size: 1.6rem;
}
h3{
    text-align: left;
}
.project-container{
    flex-direction: column;
}
.project-container ul{
    font-size: 2rem;
}
/*Course Page*/
header.second-header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:var(--primary);
    height: 25vh;
    padding: 1rem;
}
header.second-header h1{
    font-size: 4rem;
    transform: rotate(-10deg);
}
h3{
    text-align: center;
}
h4{
    font-size: 3rem;
    padding:0;
    text-align:left;
    height: 5vh;
}
.course-container{
    flex-direction: column;
}
.course-container ul li{
    font-size: 2rem;
}
@media(min-width:768px){
    header.second-header{
        flex-direction: row;
        height: 5vh;
        justify-content:space-between;
    }
}
/*Project page*/
h3{
    text-align: center;
}
h4{
    font-size: 3rem;
    padding:0;
    text-align:left;
    height: 5vh;
}
.project-container{
    flex-direction: column;
}
.project-container ul li{
    font-size: 2rem;
}
/*education page*/
h3{
    text-align: center;
}
h4{
    font-size: 2rem;
}
.aside-education{
    display: none;
}
.educational-container{
    display: flex;
    flex-direction: column;
}
.div-education{
    padding: 3rem;
}

@media(min-width:768px){
    .aside-education{
        display: block;
        background-color:#e1e1e1;
        padding: 3rem;
    }
    .aside-education ul{
        width: 15rem;
    }
    .aside-education ul li{
        list-style: none;
        font-size: 2rem;
        margin-bottom: 3rem;
        width: 100%;
    }
    .aside-education ul li:hover{
        border-right:8px solid #700f0f;
        cursor: pointer;
        font-weight: 700;
        }
    .educational-container{
        flex-direction: row;
    }
    .div-education{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .div-education div-education-item{
        width: 50rem;
        background-color: rgba(247, 7, 7, 0.178);
    }
    /*.div-education div:nth-child(2){
        margin-left: 40rem;
    }
    .div-education div:nth-child(3){
        margin-left: 100rem;
    }*/
}