@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

:root{
    --nav-background: #24252a;
    --nav-text: #f0f0f0;
    --nav-primary: #0088a8;
    --nav-secondary: #aa310c;
}

nav{
    background-color: var(--nav-background);
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
   justify-content: space-between;
   font-family: raleway, sans-serif;
}

nav .menu-item{
    list-style: none;
    text-decoration: none;
}

nav .menu-item li{
    display: inline-block;
}

nav .menu-items li a{
    color: var(--nav-text);
    text-decoration: none;
    cursor: pointer;
    padding: 7px 10px;
    transition: all 0.2s ease;
}

    nav .menu-items li a hover{
        color: var(--nav-primary);
    }

    nav .menu-items li.active a{
        color: var(--nav-text);
        background-color: var(--nav-primary);
        padding: 7px 12px;
        border-radius: 14px;
    }

    nav .menu-info lable{
        color: var(--nav-text);
        background-color: var(--nav-primary);
        padding: 3px 6px;
        border-radius: 5px;
        font-weight: bold;
    }









